@use '../variables';

.button {
  border: none;
  width: auto;
  white-space: nowrap;
  border-radius: 1em;
  background-color: variables.$color-accent;
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  color: variables.$color-secondary-light;
  font-family: 'Jost';
  font-weight: 500;
  // text-shadow: 0px 1px 0px #080c08;
  cursor: pointer;
  box-shadow: 0px 10px 14px -7px #141207;
}

.button:hover,
.announcements-card__button:hover {
  background-color: #ffd64e;
}

.button:active,
.announcements-card__button:active {
  position: relative;
  top: 0.1rem;
}

.submit-button {
  min-width: 7em;
}

.announcements-card-button {
  font-family: 'Jost';
  font-weight: 600;
  box-shadow: 0px 2px 5px 0px #b48f14;
  flex: none;
  border: none;
  background-color: transparent;
  width: 5em;
  height: 5em;
  background-color: variables.$color-accent;
  border-radius: 50%;
}
