@use '../variables';

.input-label {
  font-family: 'Jost';
  font-size: 1em;
}

.input-place {
  width: 100%;
  display: block;
  border: none;
  border-radius: 1em;
  border: variables.$color-secondary-darker solid 1px;
  height: 3em;
  padding: 1em;
}

.submit-button {
  border-radius: 1rem;
  font-size: 1em;
  height: 2em;
  background-color: variables.$color-button--active;
}

.form__character-number {
  float: right;
}

@media (min-width: variables.$break-point) {
  .input-place {
    max-width: 40em;
  }
}
