@use '../variables';

.header {
  background-color: variables.$color-primary;
}

.header__wrapper {
  margin: 1rem 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper-static {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.header__logo-place {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__logo-icon {
  width: 2.5rem;
}

.logo-text {
  color: variables.$color-secondary;
  font-family: 'Jost';
  font-size: 2em;
  font-weight: 600;
  margin: none;
}

.header__logo-text {
  margin-left: 1rem;
}

.header__menu-button {
  border: none;
  text-decoration: none;
  display: block;
  background-color: transparent;
}

.header-button {
  width: 2rem;
  display: block;
}

.header__menu {
  display: none;
  margin-top: 1em;
}

.menu-link {
  text-decoration: none;
  color: variables.$color-secondary;
  font-family: 'Jost';
  font-size: 1.5em;
  font-weight: 500;
}

.logout-icon {
  width: 2rem;
  display: none;
}

.menu-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.header-wrapper-menu__delimeter-item {
  border-top: 1px solid variables.$color-secondary;
  margin-top: 1em;
}

.header__icon-close {
  display: none;
}

.menu--collapsed .header__menu {
  display: block;
}

.menu--collapsed .header__icon-close {
  display: block;
}

.menu--collapsed .header__icon-hamburger {
  display: none;
}

.hero-img {
  width: 100%;
  max-width: 40em;
}

@media (min-width: variables.$break-point) {
  .header-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__menu {
    display: block;
    margin: 0;
  }

  .header__menu-button {
    display: none;
  }

  .header__menu ul {
    display: flex;
    flex-direction: row;
  }

  .header__menu ul li {
    margin: 0 1em;
  }

  .logout-icon {
    display: block;
  }

  .header-wrapper-menu__delimeter-item {
    display: none;
  }
}
