extends ../layouts/main.pug

block content
  .container
    .page__wrapper.page-wrapper
      h2.page-title About
      p.info-wrapper__text This is a project whose primary goal is to provide an environment where people can claim that they need help or help others. We believe that in the capitalist era, simple human relationships based on kindness and help are very important. Kindness, compassion, the desire to respond at the right time is what people need. And so we are here.
      p.info-wrapper__text To learn more about the rules of using the service, click&nbsp;
        a.info-wrapper__text.text-link(href='/rules') here.
