extends ../layouts/main.pug

block content
  .container
    h2.page-title Ask help
    p.error-message #{errorMessage}
    .askhelp__wrapper.askhelp-wrapper
      form(class='form-askhelp', action='askhelp', method='post')
        label.input-label(for='help-description') I'd like if you...
          textarea.input-place.card-wrapper__description(name='help_description', id='help-description', maxlength='255', required, placeholder='Example: I left an umbrella in a coffee shop. I will pick him it later in the evening. Take it, please, to the waiter. Lalalala str, 45, coffe shop "CoffeTime')
        button(class='submit-button button', type='submit') Ask help
      img.askhelp-wrapper__picture(src="people.svg", alt="People image")


