extends ../layouts/main.pug

block content
  .container
    h2.page-title Help to
      .announcements__wrapper.announcements-wrapper
        - for (let row of rows)
          .announcements-wrapper__card.announcements-card.card
            p.announcements-card__text #{row['description']}
            button.announcements-card__button.announcements-card-button Help

