extends ../layouts/main.pug

block content
  .container
    .hero__wrapper.hero-wrapper
      .hero-wrapper__info.hero-wrapper-info
        p.hero-wrapper-info__main-text People should help each other. Therefore, we are called people.
        .hero-wrapper-info__buttons
          a.hero-wrapper-info__button-link(href="/helpto")
            button.hero-wrapper__button.button Help to
          a.hero-wrapper-info__button-link(href="/askhelp")
            button.hero-wrapper__button.button Ask help
      .hero-wrapper__media.hero-wrapper-media
        img.hero-img(src="main_photo.jpeg", alt="photo with lifesevar")
