extends ../layouts/main.pug

block content
  .container
    .page__wrapper.page-wrapper
      h2.page-title Rules
      p.info-wrapper__text The main idea of the project is that for all the actions from you no one can demand money. All requests are free.
      .rules__wrapper.rules-wrapper
        .rules-wrapper__card
          h4.rules-wrapper-main-text If you wanna help to someone...
          p.rules-wrapper-text 1. You can choose announcement&nbsp
            a.text-link(href='/announcements"') here
          p.rules-wrapper-text 2. Just help
          p.rules-wrapper-text 3. Say yourself you are amazing!
          a.rules-wrapper__button-link(href="/announcements")
            button.rules-wrapper__button.button Help to
        .rules-wrapper__card
          h4.rules-wrapper-main-text If you need help...
          p.rules-wrapper-text 1. You can make an announcement&nbsp
            a.text-link(href='/askhelp') here
          p.rules-wrapper-text 2. Wait a while until someone responds
          p.rules-wrapper-text 3. Help to someone, who need it.
          a.rules-wrapper__button-link(href="/askhelp")
            button.rules-wrapper__button.button Ask help
