extends ../layouts/main.pug

block content
  .container
    h2.page-title Sign in
    p.error-message #{errorMessage}
    .signin__wrapper.signin-wrapper
      form(class='form-signin', action='signin', method='post')
        label.input-label(for='email') E-mail
          input(class='input-place', id='email', type='email', name='email', required)
        label.input-label(for='password') Password
          input(class='input-place', id='password', type='password', name='password', required)
        .signin__submit
          button(class='submit-button button', type='submit', name='submit') Submit
          a.forgot-password-link(href="#") Forgot password
        a.signup-link(href="/signup") I wanna sign up!

