@use '../variables';

.ask-help__form {
  margin: 0;
}

.ask-help-description {
  height: 15em;
  width: 100%;
  max-width: none;
}

.form-askhelp__character-number {
  margin-top: -1em;
}

@media (min-width: variables.$break-point) {
  .askhelp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ask-help-description {
    min-width: 40em;
  }

  .askhelp-wrapper__picture {
    flex-grow: 2;
    max-width: 40em;
  }
}
