@use '../variables';

.announcements-wrapper__card {
  margin: 0.5em 0;
}

.announcements-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 1em;
}

.announcements-card__text {
  color: variables.$color-text;
  padding: 0.2em 0.5em;
  font-size: 1em;
  margin-right: 2em;
}

.announcements-card__button-link {
  position: absolute;
  right: -2em;
}

.input-place-message {
  height: 5em;
}
