@use '../variables';

.hero-wrapper-info__main-text {
  font-size: 2em;
  margin: 1rem 0;
}

.hero-wrapper-info__buttons {
  margin: 1em -1em;
}

.hero-wrapper-info__button-link {
  margin: 1em 1em;
}

.hero-wrapper__media.hero-wrapper-media {
  margin-top: 2em;
}
