@use '../variables';

.form-signin {
  display: flex;
  flex-direction: column;
}

.input-place {
  margin-bottom: 1.5em;
}

.forgot-password-link {
  font-family: 'Jost';
  margin-left: 2em;
}

.signup-link {
  margin: 1em 0;
}
