@use '../variables';

.form-signin {
  display: flex;
  flex-direction: column;
}

.input-place {
  margin-bottom: 1.5em;
}

.submit-button {
  width: 7em;
}

.forgot-password-link {
  color: variables.$color-text-accent;
  font-family: 'Jost';
  margin-left: 2em;
}

.signup-link {
  color: variables.$color-secondary-darker;
  margin: 1em 0;
}
