@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
}

p {
  font-family: 'Jost';
  font-size: 1em;
}
