$break-point: 48em;

$color-primary: #0f4c5c;
$color-secondary: #daeaf2;
$color-secondary-darker: #8daabd;
$color-secondary-light: #fff;
$color-text: #050f11;
$color-text-accent: #1a535c;
$color-accent: #ffc815;
